{% extends 'base.html.twig' %}

{% block title %}Les Artistes{% endblock %}

{% block body %}

<div class="text-center mb-5 mt-5">
    {% for category in categories %}
        <a href="{{ path('artist_list_by_category', {'id':category.id, 'page':1}) }}" type="button" class="btn btn-outline-{{category.color}}">{{category.name}}</a>
    {% endfor %}
</div>

<div class=" row">



<div class="row mt-5">
    {% for artist in artists %}
        <div class="col-4">
            {# {{ dump(artist[0].color)}} #}
            <div class="card border-{{artist[0].color}} mb-5" style="max-width: 23rem; min-height: 15rem">
            
                
                <div class="card-header align-self-end"><span class="badge rounded-pill bg-{{ (artist[0].concert != NULL) ? 'secondary' : 'primary' }}">{{ (artist[0].concert != NULL) ? 'En concert' : 'Music de rue' }}</span></div>
                <div class="card-body">
                    <h4 class="card-title"> {{ artist[0].name }}</h4>
                    <p class="card-text">{{ artist[0].description | u.truncate(100, '...') }} </p>
                    <p class="card-text"><a href="{{ path('artist_view', {'id':artist[0].id, 'color':artist[0].color}) }}">Decouvrir l'artiste</a></p>
                </div>
            
            </div>
            
        </div>
    {% endfor %}
</div>

<div>
  <ul class="pagination">
    {% if (app.request.get('id')) %}
        <li class="page-item {{ app.request.get('page')==1 ? 'disabled' : '' }} ">
            <a class="page-link mx-1 my-2" href="{{ path('artist_list_by_category', {'id':app.request.get('id'), 'page':app.request.get('page')-1}) }}">&laquo;</a>
        </li>
        {% for i in 1 .. nbPages %}
            <li class="page-item {{ i == app.request.get('page') ? 'active' : '' }}">
                <a class="page-link mx-1 my-2" href="{{ path('artist_list_by_category', {'id':app.request.get('id'), 'page':i}) }}"> {{ i }}</a>
            </li>
        {% endfor %}
        <li class="page-item {{ app.request.get('page')==nbPages ? 'disabled' : '' }}">
            <a class="page-link mx-1 my-2" href="{{ path('artist_list_by_category', {'id':app.request.get('id'), 'page':app.request.get('page')+1}) }}">&raquo;</a>
        </li>
    {% else %}
        <li class="page-item {{ app.request.get('page')==1 ? 'disabled' : '' }} ">
            <a class="page-link mx-1 my-2" href="{{ path('artist_list', {'page':app.request.get('page')-1}) }}">&laquo;</a>
        </li>
        {% for i in 1 .. nbPages %}
            <li class="page-item {{ i == app.request.get('page') ? 'active' : '' }}">
                <a class="page-link mx-1 my-2" href="{{ path('artist_list', {'page':i}) }}"> {{ i }}</a>
            </li>
        {% endfor %}
        <li class="page-item {{ app.request.get('page')==nbPages ? 'disabled' : '' }}">
            <a class="page-link mx-1 my-2" href="{{ path('artist_list', {'page':app.request.get('page')+1}) }}">&raquo;</a>
        </li>
    {% endif %}
    
  </ul>
</div>

{% endblock %}
