<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/header.css') }}">
        <link rel="stylesheet" href="https://bootswatch.com/5/vapor/bootstrap.min.css">
        {% endblock %}
        <header>
            <div class="text-center header my-5">
                <div class="mb-5" id="festTitle">Festival Technonite</div>
                <div class="lead mb-5" id="festSent">Du 20 au 22 août</div>
                <div class="lead" id="festSent">les plaques vont bouger et la terre va trembler !</div>
            </div>
        </header>

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href={{ path('home') }}>Technonite</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                    <a class="nav-link active" href={{ path('home') }}>Acceuil
                        <span class="visually-hidden">(current)</span>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href={{ path('festival_agenda') }}>Agenda</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Artistes</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href={{ path('festival_billeterie') }}>Billterie</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Connexion</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Enregistrement</a>
                    </li>
                </ul>
                
                </div>
            </div>
        </nav>

        {% block body %}{% endblock %}
    </body>
</html>
